table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

tr {
  background-color: white;
  width: 100px;
}

thead tr {
  background-color: #282c34;
  color: #61dafb;
}

tr:nth-child(even) {
  background-color: #d9d9d9;
}

th,
td {
  padding: 6px;
  text-align: center;
}

td button {
  margin: 0;
  background: none;
  color: initial;
  display: inline;
  padding: 5px 8px;
  border-radius: 50%;
  width: initial;
  cursor: pointer;
  transition: 0.3s;
}

.btnFrame {
  display: flex;
  justify-content: end;
  align-items: center;
}

.return-link-ancor {
  text-decoration: none;
}

.return-link {
  display: flex;
  align-items: center;
  gap: 3px;
}
